<div class="form-container">
    <div id="landing-container">
        <div>
            <h1 class="green-text font-text">Biliard - Booker </h1>
            <h3 class="green-text font-text">Üdvözlünk a Biliard-Booker weboldalán!</h3>
        </div>
        
        <div id="button-container">
            <button class="landing-button" routerLink="/login">Bejelentkezés</button>
            <button class="landing-button" routerLink="/register">Regisztráció</button>
        </div>
    </div>    
</div>