<div class="gallery">
    <img src=".\src\assets\gallery\01.jpg" alt="Gallery image 1">
    <img src=".\src/assets/gallery/02.jpg" alt="Gallery image 2">
    <img src=".\src/assets/gallery/03.jpg" alt="Gallery image 3">
    <img src=".\src/assets/gallery/04.jpg" alt="Gallery image 4">
    <img src=".\src/assets/gallery/05.jpg" alt="Gallery image 5">
    <img src=".\src/assets/gallery/06.jpg" alt="Gallery image 6">
    <img src=".\src/assets/gallery/07.jpg" alt="Gallery image 7">
    <img src=".\src/assets/gallery/08.jpg" alt="Gallery image 8">
    <img src=".\src/assets/gallery/09.jpg" alt="Gallery image 9">
    <img src=".\src/assets/gallery/10.jpg" alt="Gallery image 10">
    <img src=".\src/assets/gallery/11.jpg" alt="Gallery image 11">
    <img src=".\src/assets/gallery/12.jpg" alt="Gallery image 12">
  </div>
