.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.gallery img {
  flex: 1 0 21%; /* A képek kb. negyedét töltik ki a soronként, némi térközzel */
  margin: 5px;
  width: auto;
  height: 200px;
}