<div class="main_component">
    <h1>Üdvözlünk a Billiard - Booker időpontfoglaló weboldalán!</h1>
        <h2>Szenvedélyünk a zöld posztó, és tudjuk, hogy az Öné is. Weboldalunkon egyszerűen és gyorsan foglalhat asztalt a kedvenc biliárdtermében, 
            így több idő marad a játékra és a barátokra.
            Fontos, hogy csak 10:00-tól kezdve foglalhatsz, és azt is vedd figyelembe, hogy a nap folyamán különböző áraink vannak.
        </h2>
        <h2>
            Legyen szó egy baráti összejövetelről, egy céges rendezvényről vagy csak egy laza este a golyók zöld mezőin, nálunk a foglalás mindössze 
            néhány kattintás. Válasszon helyszínt, dátumot és időpontot, és máris biztosított a helye.s
        </h2>   
</div>