/* Variables */
$greenColor: rgb(0, 205, 0);
$greenHoverColor: #026102;

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.main_component {
  height: 100vh;
  background-color: #026102;
}